{% extends 'common/base.html' %}
{% load bootstrap5 %}
{% block content %}

    <form method="post" action="{% url 'edit profile' profile.pk %}" class="w-25 mx-auto mt-5">
        <h1 class="mb-3">Edit profile!</h1>
        <!-- First Name input -->
        <div class="form-outline mb-1">
            {{ form.first_name }}
            <label class="form-label" for="form2Example1">First Name</label>
            {% if form.first_name.errors %}
                <div class="alert alert-danger px-3 py-2" role="alert">
                    {{ form.first_name.errors | striptags }}
                </div>
            {% endif %}
        </div>
       <!-- Last Name input -->
       <div class="form-outline mb-1">
            {{ form.last_name }}
            <label class="form-label" for="form2Example2">Last Name</label>
        </div>
        {% if form.last_name.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.last_name.errors | striptags }}
            </div>
        {% endif %}

        <!-- Photo input -->
        <div class="form-outline mb-1">
            {{ form.photo }}
            <label class="form-label" for="form2Example3">Photo</label>
        </div>
        {% if form.photo.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.photo.errors | striptags }}
            </div>
        {% endif %}

        <!-- Password confirmation input -->
        <div class="form-outline mb-1">
            {{ form.age }}
            <label class="form-label" for="form2Example4">Age</label>
        </div>
        {% if form.age.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.age.errors | striptags }}
            </div>
        {% endif %}

          <!-- About Me input -->
        <div class="form-outline mb-1">
            {{ form.bio }}
            <label class="form-label" for="form2Example5">About Me</label>
        </div>
        {% if form.bio.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.bio.errors | striptags }}
            </div>
        {% endif %}
        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-5">Edit</button>
        {% csrf_token %}
    </form>

{% endblock %}

