{% extends 'common/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}

    <div class="card m-auto mt-5" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ book.cover_photo }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8 card-info card-info-container">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text mb-0"><small class="text-muted">Author:
                        <b><a style="text-decoration: none; color: gray"
                              href="{% url 'details author' book.author.pk %}"> {{ book.author.full_name }}</a></b>
                    </small></p>
                    <p class="card-text mb-0"><small class="text-muted">Posted by
                        <b><a style="text-decoration: none; color: gray"
                              href="{% url 'details profile' creator_profile.user_id %}">{{ creator_profile.full_name }}</a></b>
                    </small></p>
                    <p class="card-text"><small class="text-muted">Posted on {{ book.publication_date_and_time }}</small></p>
                    <p class="card-text">{{ book.description }}</p>
                    {% if not is_liked %}

                        <a href="{% url 'like book' book.slug %}">
                            <button type="button" class="btn btn-outline-danger" control-id="ControlID-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                </svg>
                                {{ book.likes_count }}
                            </button>
                        </a>

                    {% else %}

                        <a href="{% url 'like book' book.slug %}">
                            <button type="button" class="btn btn-outline-danger" control-id="ControlID-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                                {{ book.likes_count }}
                            </button>
                        </a>

                    {% endif %}
                </div>
                {% if is_owner %}
                    <div class="detail-view-buttons mb-3 ms-3">
                        <a href="{% url 'edit book' book.slug %}" class="btn btn-primary">EDIT</a>
                        <a href="{% url 'delete book' book.slug %}" class="btn btn-danger">DELETE</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4 mb-4 m-auto" style="width: 100%">
        <div class="col-md-8 col-lg-6" style="width: 100%">
            <div class="card shadow-0 border m-auto " style="background-color: #f0f2f5; max-width: 800px">
                <div class="card-body p-4 pb-0" style="max-width: 800px">

                    <div class="form-outline mb-4 " style="max-width: 800px">
                        <form method="post" action="{% url 'edit review' slug=book.slug pk=bookreview.id %}">
{#                                    <textarea name="content" rows="4" cols="50" type="text" id="addANote" class="form-control"#}
                                        {{ form.content }}
{#                                      placeholder="Leave a review..."></textarea>#}
                                                      <label class="form-label" for="addANote"></label>
                            {% if form.content.errors %}
                                <div class="alert alert-danger px-3 py-2" role="alert">
                                    {{ form.content.errors | striptags }}
                                </div>
                            {% endif %}
                            <!-- Submit button -->
                            <button class="btn btn-primary btn-block mt-2">Edit</button>
                            {% csrf_token %}
                        </form>
                    </div>
                    {% for review in reviews_complete_info %}
                        <div class="card mb-4" style="max-width: 800px">
                            <div class="card-body">
                                <p>{{ review.content }}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center align-self-end">
                                        {#                                        TODO: link to image from user profile#}
                                        <a style="text-decoration: none; color: black"
                                           href="{% url 'details profile' review.profile.user_id %}"> <img
                                                {% if review.profile.photo %}
                                                    style="object-fit: cover" src="{{ review.profile.photo }}"
                                                {% else %}
                                                    style="object-fit: cover" src="{% static 'empty-profile.png' %}"
                                                {% endif %}
                                                alt="avatar"
                                                width="42"
                                                height="42"></a>

                                        <p class="small mb-0 ms-2 align-self-end">
                                            <a style="text-decoration: none; color: black"
                                               href="{% url 'details profile' review.profile.user_id %}">{{ review.creator }}</a>
                                        </p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0 align-self-end">{{ review.creation_time }}</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black"
                                           style="margin-top: -0.16rem;"></i>

                                        <p class="small text-muted mb-0">
                                            {% if is_owner or review.review_owner %}
                                                <form method="post"
                                                      action="{% url 'delete review' slug=book.slug pk=review.review_id %}">

                                                    <button type="submit" class="btn btn-outline-danger"
                                                            control-id="ControlID-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-trash"
                                                             viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                            <path fill-rule="evenodd"
                                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
                                                    </button>
                                                    {% csrf_token %}
                                                </form>
                                            {% else %}
                                                <div style="width: 40px; height: 16px"></div>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_as_p }}
{% endblock %}