{% extends 'common/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <form method="post" action="{% url 'edit book' book.slug %}" class="w-50 mx-auto mt-5">
        <h1 class="mb-3">Edit Book</h1>
        {% if form.non_field_errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.non_field_errors | striptags }}
            </div>
        {% endif %}
        <!-- Title input -->
        <div class="form-outline mb-1">
            {{ form.title }}
            <label class="form-label" for="form2Example1">Title</label>
            {% if form.title.errors %}
                <div class="alert alert-danger px-3 py-2" role="alert">
                    {{ form.title.errors | striptags }}
                </div>
            {% endif %}
        </div>
        <!-- Author input -->
        <div class="form-outline mb-1">
            {{ form.author }}
            <label class="form-label" for="form2Example1">Author</label>
            {% if form.author.errors %}
                <div class="alert alert-danger px-3 py-2" role="alert">
                    {{ form.author.errors | striptags }}
                </div>
            {% endif %}
        </div>
        <!-- Genre input -->
        <div class="form-outline mb-1">
            {{ form.genre }}
            <label for="inputState">Genre</label>
        </div>
        {% if form.genre.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.genre.errors | striptags }}
            </div>
        {% endif %}

        <!-- cover_photo input -->
        <div class="form-outline mb-1">
            {{ form.cover_photo }}
            <label class="form-label" for="form2Example2">Cover Photo</label>
        </div>
        {% if form.cover_photo.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.cover_photo.errors | striptags }}
            </div>
        {% endif %}

        <!-- Description input -->
        <div class="form-outline mb-1">
            {{ form.description }}
            <label class="form-label" for="form2Example3">Description</label>
        </div>
        {% if form.description.errors %}
            <div class="alert alert-danger px-3 py-2" role="alert">
                {{ form.description.errors | striptags }}
            </div>
        {% endif %}
        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-5">Edit</button>
        {% csrf_token %}
    </form>
{% endblock %}


