{% extends 'common/base.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="card mb-3 m-auto mt-5 mb-5" style="background-color: #f0f2f5; max-width: 50vw">
        <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title text-center">ABOUT US</h2>
            <h3>Who are we?</h3>
            <p class="card-text">We are a team of young graduates. We currently have two Software Developers, two
                Marketing agents, and one UX/UI designer. If you want to learn more about us, please check our social
                media page.</p>
            <h3 class="mt-4">Why did we launch the Bookshelf?</h3>
            <p class="card-text">The pandemic cause some serious distrurbance in the way people normally communicate. We
                want to fill in that gap by enabling people to communicate through something we all love - BOOKS!</p>
{#            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
        </div>
    </div>

{% endblock %}